---
layout: full_screen
title: Posts
---

<div class="text-center">
    <h1 class="munichmetal">Posts</h1>
    <p class="lead">Random thoughts and content<br>
    </p>
</div>


<div class="row">
    {% for post in site.posts %}
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="lead"><i class="fa fa-user"></i> by <a href="">{{ post.author }}</a></p>
        <p><i class="fa fa-calendar"></i> Posted on {{ post.date }}</p>
        {{ post.excerpt }}
    </div>
    <hr>
    {% endfor %}
</div>


<!-- Pagination links -->
<nav>
    <ul class="pagination">  
        {% if paginator.previous_page %}
        <li class="page-item">
            <a href="{{ paginator.previous_page_path }}" class="page-link">
                Previous
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <span class="page-link"">Previous</span>
            
        </li>
        {% endif %}
        
        <li class="page-item">
            <span cclass="page-link">
                Page: {{ paginator.page }} of {{ paginator.total_pages }}
            </span>
        </li>
        
        {% if paginator.next_page %}
        <li class="page-item">
            <a href="{{ paginator.next_page_path }}" class="page-link">Next</a>
        </li> 
        {% else %}
        <li class="page-item">
            <span class="page-link">Next</span>
        </li>
        {% endif %}
    </ul>
</nav>